.section {
    padding: 5rem 0;
    background-color: #D1D1E9;
}

.section h3 {
    font-size: 3.5rem;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 4rem;
    text-decoration: underline;
    text-decoration-thickness: 0.75rem;
}

.courses {
    justify-content: space-between;
}

.course {
    cursor: pointer;
}

.course img {
    margin-bottom: 1rem;
}

.course a {
    color: #2B2C34;
    font-weight: 600;
    display: block;
    text-align: center;
    font-size: 1.5rem;
}